.footer-links {
  margin-top: 2rem;
  padding: 4rem 0;
  border-top: 1px dashed var(--thirdColor);

  .links-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .link-item {
      a {
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 1rem;

        &:hover {
          background-color: var(--secondaryColor);
        }

        &:visited {
          color: var(--thirdColor);
        }

        .link-icon > svg {
          fill: var(--primaryColor);
        }

        span {
          display: block;
          color: var(--thirdColor);
        }
      }
    }
  }
}
