// App.scss
//
@import "../../style/shared";

.App {
  width: 100vw;
  height: 100vh;
  color: var(--fontColor);
  background: var(--backgroundColor);
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
