// index.scss
//
html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

:root {
  .light-theme {
    --primaryColor: #333;
    --secondaryColor: #f7f7f7;
    --thirdColor: #c4c4c4;
    --fontColor: #333;
    --backgroundColor: white;
  }

  .dark-theme {
    --primaryColor: white;
    --secondaryColor: #262626;
    --thirdColor: #646464;
    --fontColor: white;
    --backgroundColor: #222222;
  }
}

body {
  font-family: "Maven Pro", system-ui, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
